@page "/call-web-api"
@using System.Text.Json
@using System.Text.Json.Serialization
@using MultiPage.Shared.StockTracker.Shared;

@inject HttpClient ClientFactory

@if (_getBranchesError) {
    <p>Unable to get branches from GitHub. Please try again later.</p>
} else {

    <h2> @_RootArea.id - @_RootArea.name </h2>

}
@code {
    private RootArea _RootArea = new RootArea();
    private bool _getBranchesError;
    private bool _shouldRender;
    protected override bool ShouldRender() => _shouldRender;

    protected override async Task OnInitializedAsync() {
        string baseUrl = "https://pokeapi.co/api/v2/";
        var request = new HttpRequestMessage(HttpMethod.Get,
            baseUrl + "location/eterna-city");

        //var client = ClientFactory.CreateClient();
        var response = await ClientFactory.SendAsync(request);

        if (response.IsSuccessStatusCode) {
            using var responseStream = await response.Content.ReadAsStreamAsync();
            var test = await response.Content.ReadAsStringAsync();
            _RootArea = await JsonSerializer.DeserializeAsync<RootArea>(responseStream) ?? new RootArea();
        } else {
            _getBranchesError = true;
        }

        _shouldRender = true;
    }

}